/*
* pineCSS v1.0
* Copyright 2014, Savaş Can ALTUN < savascanaltun@gmail.com >
* github.com/pineCSS/pine
* http://pinecss.com
*/
/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

html {
    font-size: 62.5%;
}
body {
    font-size: 1.5em;
    line-height: 1.6;
    font-weight: 400;
    font-family: source-sans-pro, helvetica, arial, sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    color: #222;
}
/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 2rem;
    font-weight: 300;
}
h1 {
    font-size: 4.0rem;
    line-height: 1.2;
    letter-spacing: -.1rem;
}
h2 {
    font-size: 3.6rem;
    line-height: 1.25;
    letter-spacing: -.1rem;
}
h3 {
    font-size: 3.0rem;
    line-height: 1.3;
    letter-spacing: -.1rem;
}
h4 {
    font-size: 2.4rem;
    line-height: 1.35;
    letter-spacing: -.08rem;
}
h5 {
    font-size: 1.8rem;
    line-height: 1.5;
    letter-spacing: -.05rem;
}
h6 {
    font-size: 1.5rem;
    line-height: 1.6;
    letter-spacing: 0;
}
@media (min-width: 550px) {
    h1 {
        font-size: 5.0rem;
    }
    h2 {
        font-size: 4.2rem;
    }
    h3 {
        font-size: 3.6rem;
    }
    h4 {
        font-size: 3.0rem;
    }
    h5 {
        font-size: 2.4rem;
    }
    h6 {
        font-size: 1.5rem;
    }
}
p {
    margin-top: 0;
}
/* links */

a {
    color: #1EAEDB;
    text-decoration: none;
}
a:hover {
    color: #0FA0CE;
}
hr {
    margin-top: 3rem;
    margin-bottom: 3.5rem;
    border-width: 0;
    border-top: 1px solid #E1E1E1;
}
/* Grid System
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.container {
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}
.col,
.cols {
    width: 100%;
    float: left;
    box-sizing: border-box;
}
/* For devices larger than 400px */

@media (min-width: 400px) {
    .container {
        width: 85%;
        padding: 0;
    }
}
/* For devices larger than 550px */

@media (min-width: 550px) {
    .container {
        width: 80%;
    }
    .col,
    .cols {
        margin-left: 4%;
    }
    .col:first-child,
    .cols:first-child {
        margin-left: 0;
    }
    .grid-1.col,
    .grid-1.cols {
        width: 4.66666666667%;
    }
    .grid-2.cols {
        width: 13.3333333333%;
    }
    .grid-3.cols {
        width: 22%;
    }
    .grid-4.cols {
        width: 30.6666666667%;
    }
    .grid-5.cols {
        width: 39.3333333333%;
    }
    .grid-6.cols {
        width: 48%;
    }
    .grid-7.cols {
        width: 56.6666666667%;
    }
    .grid-8.cols {
        width: 65.3333333333%;
    }
    .grid-9.cols {
        width: 74.0%;
    }
    .grid-10.cols {
        width: 82.6666666667%;
    }
    .grid-11.cols {
        width: 91.3333333333%;
    }
    .grid-12.cols {
        width: 100%;
        margin-left: 0;
    }
    .grid-1-short.col {
        width: 48%;
    }
    /* Offsets */
    
    .offset-by-grid-1.col,
    .offset-by-grid-1.cols {
        margin-left: 8.66666666667%;
    }
    .offset-by-grid-2.col,
    .offset-by-grid-2.cols {
        margin-left: 17.3333333333%;
    }
    .offset-by-grid-3.col,
    .offset-by-grid-3.cols {
        margin-left: 26%;
    }
    .offset-by-grid-4.col,
    .offset-by-grid-4.cols {
        margin-left: 34.6666666667%;
    }
    .offset-by-grid-5.col,
    .offset-by-grid-5.cols {
        margin-left: 43.3333333333%;
    }
    .offset-by-grid-6.col,
    .offset-by-grid-6.cols {
        margin-left: 52%;
    }
    .offset-by-grid-7.col,
    .offset-by-grid-7.cols {
        margin-left: 60.6666666667%;
    }
    .offset-by-grid-8.col,
    .offset-by-grid-8.cols {
        margin-left: 69.3333333333%;
    }
    .offset-by-grid-9.col,
    .offset-by-grid-9.cols {
        margin-left: 78.0%;
    }
    .offset-by-grid-10.col,
    .offset-by-grid-10.cols {
        margin-left: 86.6666666667%;
    }
    .offset-by-grid-11.col,
    .offset-by-grid-11.cols {
        margin-left: 95.3333333333%;
    }
    .offset-by-grid-1-short.col,
    .offset-by-grid-1-short.cols {
        margin-left: 52%;
    }
}
/* Buttons 
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    display: inline-block;
    height: 38px;
    padding: 0 30px;
    color: #555;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #bbb;
    cursor: pointer;
    box-sizing: border-box;
}
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
    color: #333;
    border-color: #888;
    outline: 0;
}
/* Button Primary */

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
    color: #FFF;
    background-color: #33C3F0;
    border-color: #33C3F0;
}
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
    color: #FFF;
    background-color: #1EAEDB;
    border-color: #1EAEDB;
}
/* Button Danger */

.button.button-danger,
button.button-danger,
input[type="submit"].button-danger,
input[type="reset"].button-danger,
input[type="button"].button-danger {
    color: #FFF;
    background-color: #ff0039;
    border-color: #ff0039;
}
.button.button-danger:hover,
button.button-danger:hover,
input[type="submit"].button-danger:hover,
input[type="reset"].button-danger:hover,
input[type="button"].button-danger:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-danger:focus,
input[type="reset"].button-danger:focus,
input[type="button"].button-danger:focus {
    color: #FFF;
    background-color: #cc002e;
    border-color: #cc002e;
}
/* Button Warning */

.button.button-warning,
button.button-warning,
input[type="submit"].button-warning,
input[type="reset"].button-warning,
input[type="button"].button-warning {
    color: #FFF;
    background-color: #e45c00;
    border-color: #e45c00;
}
.button.button-warning:hover,
button.button-warning:hover,
input[type="submit"].button-warning:hover,
input[type="reset"].button-warning:hover,
input[type="button"].button-warning:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-warning:focus,
input[type="reset"].button-warning:focus,
input[type="button"].button-warning:focus {
    color: #FFF;
    background-color: #ff7518;
    border-color: #ff7518;
}
/* Button Success */

.button.button-success,
button.button-success,
input[type="submit"].button-success,
input[type="reset"].button-success,
input[type="button"].button-success {
    color: #FFF;
    background-color: #3fb618;
    border-color: #3fb618;
}
.button.button-success:hover,
button.button-success:hover,
input[type="submit"].button-success:hover,
input[type="reset"].button-success:hover,
input[type="button"].button-success:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-success:focus,
input[type="reset"].button-success:focus,
input[type="button"].button-success:focus {
    color: #FFF;
    background-color: #2f8912;
    border-color: #2f8912;
}
/* Button İnfo */

.button.button-info,
button.button-info,
input[type="submit"].button-info,
input[type="reset"].button-info,
input[type="button"].button-info {
    color: #FFF;
    background-color: #9954bb;
    border-color: #9954bb;
}
.button.button-info:hover,
button.button-info:hover,
input[type="submit"].button-info:hover,
input[type="reset"].button-info:hover,
input[type="button"].button-info:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-info:focus,
input[type="reset"].button-info:focus,
input[type="button"].button-info:focus {
    color: #FFF;
    background-color: #7e3f9d;
    border-color: #7e3f9d;
}
/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */

input[type="email"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="file"],
input[type="password"],
textarea,
select {
    height: 38px;
    padding: 6px 10px;
    background-color: #fff;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
}
input[type="email"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="file"],
input[type="password"],
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
textarea {
    min-height: 65px;
    padding-top: 6px;
    padding-bottom: 6px;
}
input[type="email"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
    border: 1px solid #33C3F0;
    outline: 0;
}
label,
legend {
    display: block;
    margin-bottom: .5rem;
    font-weight: 600;
}
fieldset {
    padding: 0;
    border-width: 0;
}
input[type="checkbox"],
input[type="radio"] {
    display: inline;
}
label > .label-body {
    display: inline-block;
    margin-left: .5rem;
    font-weight: normal;
}
input.input-danger,
textarea.input-danger,
select.input-danger,
.input-danger {
    border-color: #ff0039;
}
input.input-success,
textarea.input-success,
select.input-success,
.input-success {
    border-color: #3fb618;
}
input.input-info,
textarea.input-info,
select.input-info,
.input-info {
    border-color: #9954bb;
}
input.input-primary,
textarea.input-primary,
select.input-primary,
.input-primary {
    border-color: #33C3F0;
}
input.input-warning,
textarea.input-warning,
select.input-warning,
.input-warning {
    border-color: #e45c00;
}
/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */

ul {
    list-style: circle inside;
}
ol {
    list-style: decimal inside;
}
ol,
ul {
    padding-left: 0;
    margin-top: 0;
}
ul ul,
ul ol,
ol ol,
ol ul {
    margin: 1.5rem 0 1.5rem 3rem;
    font-size: 90%;
}
li {
    margin-bottom: 1rem;
}
/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */

code {
    padding: .2rem .5rem;
    margin: 0 .2rem;
    font-size: 90%;
    white-space: nowrap;
    background: #F1F1F1;
    border: 1px solid #E1E1E1;
    border-radius: 4px;
    word-wrap: break-word;
}
pre > code {
    display: block;
    padding: 1rem 1.5rem;
    white-space: pre;
    word-wrap: break-word;
}
/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */

th,
td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #E1E1E1;
}
th:first-child,
td:first-child {
    padding-left: 5;
}
th:last-child,
td:last-child {
    padding-right: 5;
}
/* hover table class */

.table-hover tr:hover {
    background-color: #ddd;
}
/* İmages
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.img-thumbnail {
    display: inline-block;
    max-width: 100%;
    height: auto;
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.img-circle {
    border-radius: 50%;
}
.img-circle-border {
    border-radius: 50%;
    height: auto;
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.img-rounded {
    border-radius: 6px;
}
.img-grayscale {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    /* Firefox 10+, Firefox on Android */
    
    filter: gray;
    /* IE6-9 */
    
    -webkit-filter: grayscale(100%);
    /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}
.img-blur {
    filter: blur(5px);
    /* Someday, sigh ... */
    
    -webkit-filter: blur(5px);
    /* Prefixed CSS3 blur filters */
    
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: url(#blur);
    /* Firefox needs SVG */
    
    filter: progid: DXImageTransform.Microsoft.Blur(PixelRadius='5');
    /* IE lte 9 */
}
.img-blur:hover {
    filter: blur(0px);
    /* Someday, sigh ... */
    
    -webkit-filter: blur(0px);
    /* Prefixed CSS3 blur filters */
    
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: url(#blur);
    /* Firefox needs SVG */
    
    filter: progid: DXImageTransform.Microsoft.Blur(PixelRadius='0');
    /* IE lte 9 */
}
}
/* Tools
–––––––––––––––––––––––––––––––––––––––––––––––––– */

blockquote {
    background: #ccc;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
    color: #207957;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
blockquote p {
    display: inline;
}
.bg-primary {
    color: #fff;
    background-color: #33c3f0;
}
.bg-success {
    background-color: #a0d28c;
}
.bg-info {
    background-color: #9954bb;
}
.bg-warning {
    background-color: #e45c00;
}
.bg-danger {
    color: #fff;
    background-color: #ff0039;
}
/* jumbo */

.jumbo {
    padding: 30px 15px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #eee;
}
.jumbo h1,
.jumbo .h1 {
    color: inherit;
}
.jumbo p {
    margin-bottom: 15px;
    font-size: 21px;
    font-weight: 200;
}
.container .jumbo,
.container-fluid .jumbo {
    border-radius: 6px;
}
.jumbo .container {
    max-width: 100%;
}
@media screen and (min-width: 768px) {
    .jumbo {
        padding: 48px 0;
    }
    .container .jumbo,
    .container-fluid .jumbjumbootron {
        padding-right: jumbo;
        padding-left: 60px;
    }
    .jumbo h1,
    .jumbo .h1 {
        font-size: 63px;
    }
}
.border {
    border: 1px solid #E1E1E1;
}
/* responsive video area */

.video-area {
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
    margin-bottom: 1.65em;
}
.video-area iframe,
.video-area object,
.video-area embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.rotate:hover {
    transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 12s;
    transform: rotateX(360deg);
    -moz-transform: rotateX(360deg);
    -webkit-transform: rotateX(360deg);
    -o-transform: rotateX(360deg);
}
.rotate-2:hover {
    background: #3498db;
    border-bottom: 4px solid #2980b9;
    transition: all 2s;
    -moz-transition: all 2s;
    -webkit-transition: all 2s;
    -o-transition: all 2s;
    transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
}
/* Text
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.text-blur {
    color: transparent;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.text-blur:hover {
    color: #222;
    text-shadow: 0 0 0px;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}
.text-bold {
    font-weight: bold;
}
/* Width ( 10.20.30.40.50.60.70.80.90.100 )
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.width-10 {
    width: 10%;
}
.width-20 {
    width: 20%;
}
.width-30 {
    width: 30%;
}
.width-40 {
    width: 40%;
}
.width-50 {
    width: 50%;
}
.width-60 {
    width: 60%;
}
.width-70 {
    width: 70%;
}
.width-80 {
    width: 80%;
}
.width-90 {
    width: 90%;
}
.width-100 {
    width: 100%;
}
/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.full-width {
    width: 100%;
    box-sizing: border-box;
}
.max-full-width {
    max-width: 100%;
    box-sizing: border-box;
}
.pull-right {
    float: right;
}
.pull-left {
    float: left;
}
/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

button,
.button {
    margin-bottom: 1rem;
}
input,
textarea,
select,
fieldset {
    margin-bottom: 1.5rem;
}
pre,
blockquote,
form,
dl,
figure,
table,
p,
ul,
ol,
form {
    margin-bottom: 2.5rem;
}
p {
    margin-top: 0;
}
/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.container:after,
.row:after,
.u-cf {
    content: "";
    display: table;
    clear: both;
}
/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Larger than mobile */

@media (min-width: 400px) {}
/* Larger than phablet   */

@media (min-width: 550px) {}
/* Larger than tablet */

@media (min-width: 750px) {}
/* Larger than desktop */

@media (min-width: 1000px) {}
/* Larger than Desktop HD */

@media (min-width: 1200px) {}
